@{
    Layout = "_Layout";
}

<h3>Order details:</h3>
<h4>@Model["order"].Title</h4>
<p>@Model["order"].Description</p>
<p>$@Model["order"].Price</p>
<p>@Model["order"].Date</p>

<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>
