@{
    Layout = "_Layout";
}
    <h1>Pierre's Vendor and Order Tracker</h1>
    <p>What would you like to do?</p>
    <a href ="/vendors/new">Add a new vendor</a>
    <a href ="/vendors">See all vendors</a>
